<div id="user-widget">
  <% if current_user %>
    <%= link_to "Sign out", signout_path, class: "button" %>
    <div class="user-message">Signed in as <%= current_user.name %></div>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", class: "button" %>
  <% end %>
</div>